<section class="stages container">
    <div class="stages__header">
      <h2 class="stages__title">
				Этапы преображения Васюков
				<span class="stages__subtitle">Будущие источники обогащения васюкинцев</span>
			</h2>
    </div>

    <div class="stages__body">
      <div class="stages-slider">
        <div class="stages-slider__track">

          <div class="stages-slide" id="slide-1"></div>
          <div class="stages-slide" id="slide-2"></div>
          <div class="stages-slide" id="slide-3"></div>
          <div class="stages-slide" id="slide-4"></div>
					<div class="stages-slide" id="slide-5"></div>

        </div>
      </div>

      <div class="stages-grid">
        <div class="stage-card stage-card--1" data-da="#slide-1,0,768">
					<div class="stage-card__num">
						<span>1</span>
					</div>
  				<p class="stage-card__text">
  				  Строительство железнодорожной магистрали Москва-Васюки
  				</p>
				</div>
        <div class="stage-card stage-card--2" data-da="#slide-1,1,768">
					<div class="stage-card__num">
						<span>2</span>
					</div>
  				<p class="stage-card__text">
  				  Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
  				</p>
				</div>

        <div class="stage-card stage-card--3" data-da="#slide-2,0,768">
					<div class="stage-card__num">
						<span>3</span>
					</div>
  				<p class="stage-card__text">
  				  Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
  				</p>
				</div>

        <div class="stage-card stage-card--4" data-da="#slide-3,0,768">
					<div class="stage-card__num">
						<span>4</span>
					</div>
  				<p class="stage-card__text">
  				  Строительство дворца для турнира
  				</p>
				</div>
        <div class="stage-card stage-card--5" data-da="#slide-3,1,768">
					<div class="stage-card__num">
						<span>5</span>
					</div>
  				<p class="stage-card__text">
  				  Размещение гаражей для гостевого <br/> автотранспорта
  				</p>
				</div>

        <div class="stage-card stage-card--6" data-da="#slide-4,0,768">
					<div class="stage-card__num">
						<span>6</span>
					</div>
  				<p class="stage-card__text">
  				  Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
  				</p>
				</div>
        <div class="stage-card stage-card--7" data-da="#slide-5,0,768">
					<div class="stage-card__num">
						<span>7</span>
					</div>
  				<p class="stage-card__text">
  				  Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
  				</p>
				</div>
      </div>

      <img class="stages__plane" src="/src/assets/stages/plane.png" alt="" />
  </div>

	<div class="stages-slider__controls">
		<button class="stages-slider__btn stages-slider__btn--prev" aria-label="Предыдущий слайд"></button>

		<div class="stages-slider__pagination">
			<span class="stages-slider__dot is-active"></span>
			<span class="stages-slider__dot"></span>
			<span class="stages-slider__dot"></span>
			<span class="stages-slider__dot"></span>
			<span class="stages-slider__dot"></span>
		</div>

		<button class="stages-slider__btn stages-slider__btn--next" aria-label="Следующий слайд"></button>
	</div>
</section>