<section class="hero">
	<div class="hero__scene scene-hero">
		<img src="/src/assets/hero/king.png" class="scene-hero__king" alt="" />
		<img src="/src/assets/hero/queen.png" class="scene-hero__queen" alt="" />
    <img src="/src/assets/hero/horse.png" class="scene-hero__horse" alt="" />
    <img src="/src/assets/hero/pawn.png" class="scene-hero__pawn" alt="" />
		<img src="/src/assets/hero/sun.svg" class="scene-hero__sun" alt="" />
		<img src="/src/assets/hero/board.png" class="scene-hero__board" alt="" />
		<img src="/src/assets/hero/city.png" class="scene-hero__city" alt="" />
	</div>
  

	<div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
				<span class="hero__title--first-line">Превратите </span> 
				уездный город 
				<span class="hero__title--center">в столицу</span> 
				<span class="hero__title--right">земного шара</span>
      </h1>

      <p class="hero__subtitle">
        Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
      </p>

      <div class="hero__actions">
        <a href="#about" class="btn btn--primary">Поддержать шахматную мысль</a>
        <a href="#members" class="btn btn--secondary">Подробнее о турнире</a>
      </div>
    </div>
  </div>
</section>