<section class="hero" aria-labelledby="hero-title">
	<div class="hero__scene scene-hero" aria-hidden="true">
		<img src="assets/hero/king.png" loading="lazy" decoding="async" fetchpriority="low" class="scene-hero__king" alt="" />
		<img src="assets/hero/queen.png" loading="lazy" decoding="async" fetchpriority="low" class="scene-hero__queen" alt="" />
    <img src="assets/hero/horse.png" loading="lazy" decoding="async" fetchpriority="low" class="scene-hero__horse" alt="" />
    <img src="assets/hero/pawn.png" loading="lazy" decoding="async" fetchpriority="low" class="scene-hero__pawn" alt="" />
		<img src="assets/hero/sun.svg" loading="lazy" decoding="async" fetchpriority="low" class="scene-hero__sun" alt="" />
		<img src="assets/hero/board.png" loading="lazy" decoding="async" fetchpriority="low" class="scene-hero__board" alt="" />
		<img src="assets/hero/city.png" fetchpriority="high"
  decoding="async" class="scene-hero__city" alt="" />
	</div>
  

	<div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
				<span class="hero__title--first-line">Превратите </span> 
				уездный город 
				<span class="hero__title--center">в столицу</span> 
				<span class="hero__title--right">земного шара</span>
      </h1>

      <p class="hero__subtitle">
        Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
      </p>

      <div class="hero__actions" role="navigation" aria-label="Основные действия">
        <a href="#event" aria-label="Перейти к описанию турнира" class="btn btn--primary">Поддержать шахматную мысль</a>
        <a href="#about" aria-label="Перейти к информации о турнире" class="btn btn--secondary">Подробнее о турнире</a>
      </div>
    </div>
  </div>
</section>