@use "../../styles/helpers.scss" as *;

.ticker {
  background-color: var(--color-warning);
  color: var(--color-white);
  overflow: hidden;
  width: 100%;
  contain: layout paint;
  cursor: default;
}

.ticker__wrap {
  display: flex;
  white-space: nowrap;
}

.ticker__track {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: size(13.52px, 7px) 0;
  will-change: transform;

  animation: tickerMove 25s linear infinite;
}

.ticker__item {
  position: relative;
  font-family: var(--font-secondary);
  font-size: size(22px, 16px);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  color: var(--color-white);

  &:last-child::after {
    display:none;
  }
}

.ticker__item::after {
  content: "";
  position: absolute;
  right: -23px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: var(--color-white);
  border-radius: 50%;
}

@keyframes tickerMove {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@media (prefers-reduced-motion: reduce) {
  .ticker__track {
    animation: none;
    transform: none;
  }
}

.ticker--paused .ticker:focus-within .ticker__track {
  animation-play-state: paused;
}

@media (hover: hover) {
  .ticker:hover .ticker__track {
    animation-play-state: paused;
  }
}