@use './helpers' as *;

:root {
	/* font families */
  --font-primary: "Golos Text";
  --font-secondary: "Merriweather";

	/* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* colors */
  --color-white: #fff;
  --color-warning: #F54932;
  --color-hero-footer: #E9DED4;
  --color-title: #313131;
  --color-button-primary: #1F1F1F;
  --color-button-secondary-hover: #FBCE51;
  --color-line: #D0D0D0;
  --color-link: #3057A2;
  --color-dot: #D9D9D9;
  --color-footer: #E9DED4;

	--container: 1366px;
  --padding-inline: #{size(72px, 18px)};
}
