<section class="event container">
  <div class="event__first-block">
      <p class="event__first-block_title even-title">
        Чтобы поддержать Международный васюкинский турнир 
        <span class="event__first-block_mobile-slot"></span> 
        посетите лекцию на тему:
        <span class='event__first-block_text-accent even-text-accent'>«Плодотворная дебютная идея»</span>
      </p>
      
      <img data-da=".event__first-block_mobile-slot,first,768" class='event__first-block_img' src="/src/assets/event/chess-tournament.png" alt="шахматный турнир">
  </div>
  
  <div class='event__second-block'>
    <div class="event__second-block_art">
      <div class="event__second-block_scene scene-event">
        <img src="/src/assets/event/paper.png" class='scene-event__paper' alt="">
        <img src="/src/assets/event/money.png" class='scene-event__money' alt="">
        <img src="/src/assets/event/star-chess-player.svg"  class='scene-event__star-chess-player' alt="">
        <img src="/src/assets/event/chess-player.png"   class='scene-event__chess-player' alt="">
        <img src="/src/assets/event/star-horse.svg"   class='scene-event__star-horse' alt="">
        <img src="/src/assets/event/hand.png" class='scene-event__hand' alt="">
        <img src="/src/assets/event/horse.png" class='scene-event__horse' alt="">
      </div>
    </div>
  
    <div>
      <p class="event__second-block_title even-title">
        и Сеанс <span class='even-text-accent'>одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера
      </p>

      <dl class="event__second-block_info info-event">
        <div class="info-event__row">
          <dt>Место проведения:</dt>
          <dd>Клуб «Картонажник»</dd>
        </div>

        <div class="info-event__row">
          <dt>Дата и время мероприятия:</dt>
          <dd>22 июня 1927 г. в 18:00</dd>
        </div>

        <div class="info-event__row">
          <dt>Стоимость входных билетов:</dt>
          <dd>20 коп.</dd>
        </div>

        <div class="info-event__row">
          <dt>Плата за игру:</dt>
          <dd>50 коп.</dd>
        </div>

        <div class="info-event__row">
          <dt>Взнос на телеграммы:</dt>
          <dd>
            <span class="old-price">100 руб.</span>
            <b>21 руб. 16 коп.</b>
          </dd>
        </div>
      </dl>

      <p class="event__second-block_note">
        По всем вопросам обращаться в администрацию к К. Михельсону
      </p>
    </div>
  </div>
</section>